* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%2308ff14' fill-opacity='0.3'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    z-index: -1;
}

.beauty-link {
    text-decoration: none;
    color: white;
}

.beauty-link:hover {
    border-bottom: 2px solid #ffffff;
}

.grayed-link {
    text-decoration: none;
    color: gray;
}

.beauty-text {
    text-decoration: none;
    color: white;
}


/* dropdowns decoration */

.dropdown-button1,
.dropdown-button2 {
    color: white;
    font-size: 15px;
    padding-top: 5px;
}

.dropdown-parent {
    color: white;
    display: flex;
    gap: 10px;
}


/* Nav */

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 3px;
    padding-left: 15px;
    padding-bottom: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center space-between;
    align-items: center;
    background: black;
    z-index: 0;
}

.nav ul.nav-menu {
    margin-left: 10px;
    display: flex;
    list-style: none;
}

.nav ul.nav-menu li {
    padding: 10px;
}

.nav ul.nav-menu li a {
    padding: 2px;
}

.main-title {
    font-family: 'Oswald', sans-serif;
    color: white;
    position: relative;
}

.nav .main-title {
    margin-top: -3px;
    font-size: 17px;
}


/* Dropdowns actions */

.nav ul.nav-menu .dropdown-1,
.nav ul.nav-menu .dropdown-2 {
    display: none;
}

.nav ul.nav-menu .dropdown-1 ul,
.nav ul.nav-menu .dropdown-2 ul {
    list-style: none;
}

.nav ul.nav-menu .dropdown-1 ul li a,
.nav ul.nav-menu .dropdown-2 ul li a {
    text-align: left;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.nav ul.nav-menu .dropdown-1 ul li a:hover,
.nav ul.nav-menu .dropdown-2 ul li a:hover {
    color: gray;
    border-bottom: 2px solid gray;
}

.nav ul.nav-menu li .dropdown-1.show,
.nav ul.nav-menu li .dropdown-2.show {
    display: block;
    position: absolute;
    background: black;
    padding-top: 8px;
    margin-left: -12px;
}


/* Navbar for small screens */

.title-sm {
    /* hidden */
    background: black;
    position: absolute;
    transform: translateX(-400px);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.display-menu-btn {
    position: fixed;
}

.title-sm .main-title {
    font-size: 23px;
    margin-top: 7px;
}


/* Content */

.languages {
    display: grid;
    grid-template-areas: "text image";
    grid-template-columns: 60% 40%;
    gap: 20px;
}

.languages .lang-image {
    display: flex;
    grid-area: image;
    align-items: center;
}

.languages .lang-image img {
    width: 100%;
}

.languages .lang-text {
    grid-area: text;
}

.languages .lang-text .lang-list {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 10px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.languages .lang-text .lang-list p {
    text-align: center;
    font-size: 25px;
    color: black;
}

.languages .lang-text .lang-list ul {
    list-style: none;
    padding-left: 10px;
}

.languages .lang-text .lang-list ul li {
    margin-bottom: 10px;
}


/* Paddings */

.pad1 {
    padding-bottom: 10px;
}

.pad2 {
    padding-bottom: 20px;
}

.pad75 {
    padding-bottom: 200px;
}


/* Footer */

.footer {
    margin-top: auto;
    background: black;
    text-align: center;
    padding: 30px;
    z-index: -1;
}

.footer .links {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.footer .links ul {
    list-style: none;
}

.footer .links ul li.title {
    font-weight: bold;
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
}

.footer .links ul li {
    margin-bottom: 6px;
    font-size: 15px;
}

.footer .icons {
    color: white;
    font-size: 40;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.footer .icons a {
    color: white;
    text-decoration: none;
}

.footer .icons a:hover {
    color: red;
}


/* For smaller screens: Navigation */

@media (max-width: 875px) {
    .nav {
        position: absolute;
    }
    /* for small screens */
    .nav ul.nav-menu {
        position: fixed;
        display: block;
        background: black;
        top: 53px;
        left: -10px;
        opacity: 1;
        padding: 30px;
        transform: translateY(-800px);
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }
    .nav ul.nav-menu.visible {
        transform: translateX(0);
    }
    /* visible */
    .title-sm {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding-top: 3px;
        padding-bottom: 10px;
        transform: translateX(0);
    }
    .display-menu-btn {
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 2;
        color: white;
    }
    .nav .main-title {
        position: absolute;
        transform: translateY(-400px);
    }
    /* dropdowns */
    .nav ul.nav-menu li .dropdown-1.show,
    .nav ul.nav-menu li .dropdown-2.show {
        display: block;
        position: relative;
        background: black;
        margin-top: 5px;
        padding-top: 0;
        background: gray;
        width: fit-content;
        border-radius: 4px;
        margin-left: 10px;
    }
    .nav ul.nav-menu li .dropdown-1 ul li a,
    .nav ul.nav-menu li .dropdown-2 ul li a {
        font-size: 20px;
    }
    .nav ul.nav-menu li .dropdown-1 ul li a:hover,
    .nav ul.nav-menu li .dropdown-2 ul li a:hover {
        border-bottom: 2px solid white;
        color: white;
    }
    .nav ul.nav-menu li .dropdown-1 ul li,
    .nav ul.nav-menu li .dropdown-2 ul li {
        padding-bottom: 2px;
    }
    .nav ul.nav-menu li .dropdown-1 ul li:last-child,
    .nav ul.nav-menu li .dropdown-2 ul li:last-child {
        padding-bottom: 10px;
    }
}


/* for small screens: content */

@media (max-width: 680px) {
    /* Content */
    .languages {
        grid-template-areas: "text" "image";
        grid-template-columns: 100%;
        gap: 10px;
    }
}


/* for small screens: footer */

@media (max-width: 640px) {
    .footer .links {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }
    .footer .links ul {
        margin-bottom: 15px;
    }
    .footer {
        padding-bottom: 30px;
    }
}


/* for small screens: footer */

@media (max-width: 315px) {
    .footer .links {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 25%);
    }
    .footer .links ul {
        margin-bottom: 15px;
    }
    .footer {
        padding-bottom: 30px;
    }
}