<div class="links">
    <ul>
        <li class="title">Contact</li>
        <li><a href="https://github.com/PableteProgramming" class="beauty-link" target="_blank">Github</a></li>
        <li><a href="https://www.youtube.com/channel/UC3W4uJqqCs9L5qe4dTtMX7w" class="beauty-link" target="_blank">Youtube</a></li>
    </ul>
    <ul>
        <li class="title">Games</li>
        <li><a href="meteorgame.html" class="beauty-link">Meteor Game</a></li>
        <li><a href="myfroggame.html" class="beauty-link">My Frog Game</a></li>
    </ul>
    <ul>
        <li class="title">Networking</li>
        <li><a href="download.html" class="beauty-link">File-Download</a></li>
    </ul>
    <ul>
        <li class="title">Pdf Editing</li>
        <li><a href="pdfmerger.html" class="beauty-link">Pdf Merger</a></li>
        <li><a href="pdfextractor.html" class="beauty-link">Pdf Extractor</a></li>
    </ul>
    <!--<ul>
        <li class="title">Credits</li>
        <li>Icons made by <a class="beauty-link" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a class="beauty-link" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
    </ul>-->
</div>
<div class="pad2"></div>
<div class="icons">
    <ul>
        <a href="https://github.com/PableteProgramming" target="_blank"><i class="fab fa-github"></i></a>
    </ul>
    <ul>
        <a href="https://www.youtube.com/channel/UC3W4uJqqCs9L5qe4dTtMX7w" target="_blank"><i class="fab fa-youtube"></i></a>
    </ul>
</div>